{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/me.jpg' %}" class="img-fluid" height=200 width=500>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h5 id="hometext" class="font-weight-bold">Django Python backend programmer and Data Scientist with a specialty for data wrangling😊</h5>
  </div>
</div>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}"  class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" width="250" height="200" class="img-fluid mb-2">

    {% endif %}

    <h3>{{ project.title }}</h3>
    <p>{{ project.description|safe }}</p>
    </div>

    {% endfor %}
    </div>
<div>
<br>
<br>
<h2>Fun Zone</h2>
<hr>
<p>Try out the password generator here😊 >>></p>
<a role="button" href="{% url 'generator:homepage' %}" class="btn btn-primary">Generator</a>
<br>
<br>
<br>
<p>Take a stab at organizing your workload >>>></p>
<a role="button" href="{% url 'todo:hometodo' %}" class="btn btn-primary">Todo</a>
</div>
    {% endblock %}
