{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Simply Your Todos!!!</h1>
            <p>Life is fun. But life is also busy. There's a million different things you want to do. But what matters is <u>what</u> you actually do. <b><i>Todo</i></b> helps you make sense of all of your tasks and live that life that matters most to you. Your new organized life awaits.</p>
            <p><b>OR</b></p>
            <p>You could just be a procratinator who has to have everything listed out &#x1F600;</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'todo:signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
